<phpunit bootstrap="./bootstrap.php"
         colors="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutChangesToGlobalState="true">
    <testsuites>
        <testsuite name="Payment Library">
            <directory>./</directory>
        </testsuite>
    </testsuites>
</phpunit>